@import "libs/reset.scss";
body {
    background-color: rgb(243, 243, 243);
}
header {
    background-color: white;
    .logo {
        img {
            padding-left: 40px;
        }
        a {
            display: flex;
            align-items: center;
            padding-left: 10px;
            cursor: pointer;
        }    
    }
}
section {
    position: relative;
    top: -25px;
    background-color: rgb(243, 243, 243);
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .header_menu {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding: 20px;
    }
    .menu {
        display: flex;
        padding: 20px;
        flex-direction: column;

        .categorie_menu {
            padding-bottom: 10px;
            span {
                border-bottom: 3px solid #99E2D0;
            }
        }
        .card_menu {
            display: flex;
            padding: 5px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            background-color: white;
            margin-bottom: 10px;
            align-items: flex-end;
            justify-content: space-between;
            box-shadow: 0 5px 10px rgb(185, 185, 185);
            .plat {
                font-weight: bold;
                font-size: 14px;
            }
            .accompagnement {
                font-size: 12px;
            }
            .prix {
                font-weight: bold;
                font-size: 12px;
                padding-right: 5px;
            }
        }
    }
    .commander {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding:30px 0 40px 0;
        span {
            padding:10px 40px;
            border: 2px;
            border-radius: 50px;
            color: white;
            background: linear-gradient(354deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            box-shadow: 0 5px 10px rgb(185, 185, 185);
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    h2 {
        padding: 20px;
    }
    ul {
        padding-bottom: 30px;
        li {
            padding: 0 20px;
            gap: 10px;
            .fa-solid {
                padding-right: 10px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1025px) {    
    .img_header {
        img {
            height: 500px;
            width: 100%;
            flex-grow: 1;
        }
    }
    section {
        top: -40px;
        .menu {
            flex-direction: row;
            justify-content: space-around;
            .card_menu {
                margin-bottom: 20px;
                width: 350px;
            }
        }
    }
    footer {
        h2 {
            text-align: center;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}