@import "libs/reset.scss";

.logo {
    display: flex;
    justify-content: center;
    padding: 15px 0 10px 0;

}
.localisation {
    display: flex;
    padding: 15px;
    justify-content: center;
    background-color: rgb(226, 225, 225);
    box-shadow: inset 10px 34px 4px -27px rgba(0,0,0,0.16);
        .fa-location-dot {
            padding-right: 15px;
        }
}
.acceuil {
    background-color: rgb(243, 243, 243);
}
.header_acceuil {
    display: flex;
    padding: 20px;
    flex-direction: column;
    p {
        text-align: center;
    }
    .titre_acceuil {
        font-weight: 900;
        font-size: 24px;
    }
}
.explorer {
    display: block;
    margin: 0 auto;
    width: 210px;
    padding:30px 0 40px 0;
    span {
        padding:15px;
        border: 2px;
        border-radius: 50px;
        color: white;
        background: linear-gradient(354deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        box-shadow: 0 5px 10px rgb(185, 185, 185);
        &:hover {
            background: linear-gradient(354deg, rgb(158, 106, 221) 0%, rgb(255, 145, 224) 100%);
        }
    }

}
.fonctionnement {
    padding: 20px;
    display: flex;
    flex-direction: column;
    .titre_fonction {
        padding: 20px 0 20px 0;
        font-weight: 900;
        font-size: 24px;
    }
}
.contenaire_fonction {
    display: flex;
    align-items: center;
    border:  2px grey;
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
    padding: 15px 30px;
    margin: 10px;
    transition: background-color 0.5s linear;
    box-shadow: 0 5px 10px rgb(185, 185, 185);
    position: relative;
    .fonction {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
        color: white;
        padding: 10px;
        border-radius: 20px;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -10px;
        p {
            font-size: 12px;
        }
    }
    .logo_fonction {
        display: flex;
        color: gray;
    }
    span {
        font-weight: bold;
        font-size: 14px;
        padding: 0 15px;
    }
    &:hover {
        background-color: #F5EDFF;
        .logo_fonction {
            color: #9356DC;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    gap: 20px;
    .titre_restaurants {
        padding: 20px 0 20px 0;
        font-weight: 900;
        font-size: 24px;
        h1 {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
        }
    }
}
.contenaire_restau {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card_restau {
        border-radius: 15px;
        background-color: white;
        cursor: pointer;
        box-shadow: 0 0 15px var(--color-ombre);
        flex-grow: 1;
        height: 250px;
        position: relative;
        .photo_restaut {
            width: 100%;
            height: 75%;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: block;
            object-fit: cover;
        }
        .nouveau {
            position: absolute;
            top: 10px;
            right: 15px;
            background-color: #99E2D0;
            padding: 6px 15px;
            color: #226151;
            font-weight: bold;
        }
    }
}
.footer_card {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding: 10px 15px;
    .titre_card {
        font-weight: bold;
    }
}
.fa-heart {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 15px;
    top: 210px;
    .fa-heart:hover {
        color: #9356DC;
    }
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    a {
        color: white;
        padding: 20px;
        text-align: center;
        font-family: Shrikhand, "cursive", sans-serif;
    }
    ul {
        padding-bottom: 30px;
        li {
            padding: 0 20px;
            gap: 10px;
            .fa-solid {
                padding-right: 10px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    .fonctionnement {
        .titre_fonction {
            display: flex;
            justify-content: center;
        }
        .contenaire {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .restaurants {
        .titre_restaurants {
            display: flex;
            justify-content: center;
        }
    }
    footer {
        h2 {
            text-align: center;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}
@media screen and (min-width: 1025px) {
    .contenaire_restau {
        flex-direction: unset;
        .card_restau {
            height: 400px;
            width: 350px;
            .footer_card {
                padding: 35px 20px;
            }
            .fa-heart {
                top: 345px;
            }
        }
    }
    .contenaire_fonction {
        height: 90px;
        width: 300px;
        justify-content: center;
        span {
            font-size: 16px;
        }
    }
    footer {
        h2 {
            text-align: center;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}